@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #222;
  color: #fafafa;
}

.header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: height-disappear 1s 0.5s ease forwards;
}
.header > .title {
  font-family: 'Abril Fatface';
  font-weight: 400;
}
.header::before {
  content: '';
  background-image: url(./src/assets/dnd-background.jpg);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: brightness(20%);
  background-size: cover;
}

@keyframes height-disappear {
  to {
    height: 0;
  }
}

.character {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: #444;
  margin: 0.75rem;
  border: solid 1px #666;
  transition: background-color 0.2s;
}
.character.active {
  background-color: hsl(121, 12%, 32%);
}
.character > .name,
.character > .hp {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  user-select: none;
  font-family: Signika, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.character > .portrait {
  width: 12rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  pointer-events: none;
  user-select: none;
}

.fw-400 {
  font-weight: 400;
}

#character-select {
  display: flex;
  justify-content: center;
  width: 100%;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.characters > .title {
  text-align: center;
  width: 100%;
}

.button {
  font-size: 1rem;
  background: none;
  color: #fafafa;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 0.15rem;
  cursor: pointer;
  transition: all 0.2s;
}
.button:not(.outline):hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button.green.outline {
  border: solid 1px rgb(6, 214, 6);
  color: hsl(120, 95%, 32%);
}
.button.green.outline:hover {
  color: #fafafa;
  background-color: rgb(6, 214, 6);
}

.button.red {
  background-color: #dc3545;
  color: #fafafa;
}

.button:disabled {
  opacity: 0.5 !important;
  color: #aaa !important;
  background-color: transparent !important;
  cursor: not-allowed;
  box-shadow: 0;
}
.button.outline:disabled {
  border-color: #aaa !important;
}

.play-button {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 800px) {
  .play-button {
    top: 0.15rem;
  }
}

.fight {
  display: flex;
  justify-content: space-evenly;
}

.character.fight-character {
  width: 18rem;
  cursor: unset;
}

.attack-buttons {
  display: flex;
  justify-content: center;
  margin: 1rem auto 0;
  flex-wrap: wrap;
}
.attack-button {
  margin: 0.25rem 1rem;
  min-width: 10rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-transform: capitalize;
}

#game > .title {
  text-align: center;
  margin-top: 1.5rem;
}

#player-health::after,
#enemy-health::after {
  content: '-' attr(data-subtract);
  color: #dc3545;
  animation: hide 0.5s 1s ease forwards;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
